html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700");

/* Root Variables */
:root {
  --main-color: #35bdf6;
  --secondary-color: #031e32;
  --navigation-bg: rgba(0, 0, 0, 0.73);
  --main-bg: #111111;
  --main-bg-light: #171717;
  --white-color: #fff;
}

/* Heading Fonts Size */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
}

h1,
h2 {
  font-weight: 700;
}

h4 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-family: "Roboto", sans-serif;
}

a,
.th-nav-btn,
.btn {
  text-decoration: none;
}

a:hover,
.th-nav-btn:hover,
.btn:hover {
  text-decoration: none;
}

a:focus,
.th-nav-btn:focus,
.btn:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:hover,
button:focus {
  outline: none;
}

/* Display Style */
.flex {
  display: flex;
}

/* Padding */
.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0 !important;
}

/* Themefisher Button effect */
.btn-main {
  border-radius: 0;
  background: var(--main-color);
  border-color: var(--main-color);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 11px 18px;
  transition: 0.5s;
  color: var(--white-color);
}

.btn-main:hover,
.btn-main:focus {
  color: var(--main-color);
  border-color: var(--main-color);
  background: var(--white-color);
}

/**/
/* mouse hover effect */
.hover-in {
  transition: 0.3s ease-out;
}

.hover-out {
  transition: 0.3s ease-in;
}

/* Solid text btn */
.solid-btn {
  background: transparent;
  padding: 4px 8px;
  border-color: transparent;
  color: var(--main-color);
  text-transform: none;
}

.solid-btn:hover {
  background: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.post-count {
  padding: 3px 10px;
  background: var(--main-bg-light);
}

/* Search bar */
.search {
  padding: 20px 10px;
}

.form-inline {
  position: relative;
}

.tf-search-btn {
  font-size: 25px;
  padding: 0;
  background: transparent;
  border-color: transparent;
  color: var(--white-color);
  transition: 0.5s;
  position: absolute;
  top: 2px;
  right: 15px;
}

.tf-search-btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: transparent;
}

.search-input {
  width: 100%;
  margin-bottom: 0;
}

.search-input .form-inline {
  margin-bottom: 0;
}

.search-input input {
  width: 100% !important;
  background: transparent;
  border-color: transparent;
  padding-right: 40px;
}

.search-input input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.title {
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
}

.title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 70px;
  background: var(--main-color);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * ---------------------------------------------------------------------------
 * 0?. Header Styles
 * ---------------------------------------------------------------------------
 */
/*logo style*/
.navigation {
  background: var(--secondary-color) none repeat scroll 0 0;
  margin-bottom: 0;
  border-bottom: 0;
  padding: 20px 0;
  transition: 0.3s all;
}

.navigation .logo {
  padding-top: 0;
}

.sticky-header {
  background: var(--secondary-color);
  opacity: 0.73;
}

.menu li a {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-color);
  transition: 0.5s;
  position: relative;
}

.menu li a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  opacity: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
  background: var(--main-color);
}

.menu li a:hover {
  text-decoration: none;
  color: var(--main-color);
}

.menu li a:hover:before {
  opacity: 1;
  width: 100%;
  left: 0;
}

.menu li a:hover,
.menu li a:focus {
  background: transparent;
}

/* Home Page */
.header.main {
  /* background: url(../img/header_bg/banner-img.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

/* Services Page */
.header.main.services-header {
  /* background: url(../img/header_bg/services-folding-img.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

/* Portfolio Page */
.header.main.portfolio-header {
  /* background: url(../img/header_bg/portfolio-folding-img.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

/* Blog Page */
.header.main.blog-header {
  /* background: url(../img/header_bg/blog-folding-img.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

/* Contact Page */
.header.main.contact-header {
  /* background: url(../img/header_bg/contact-folding-img.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
}

.header {
  position: relative;
  z-index: 10;
}

.page-header {
  /* padding: 200px 0; */
  /* margin: 0;
  border-bottom: 0; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--main-bg-light);
  z-index: 9999999999999;
}

.windows8 {
  position: relative;
  width: 52px;
  height: 52px;
  margin: auto;
}

.windows8 .wBall {
  position: absolute;
  width: 49px;
  height: 49px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  -ms-animation: orbit 6.96s infinite;
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--main-color);
  left: 0px;
  top: 0px;
  border-radius: 6px;
}

.loading-position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.windows8 #wBall_1 {
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
  animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  -ms-animation-delay: 0.61s;
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
  animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  -ms-animation-delay: 1.22s;
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s;
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

/**
 * ---------------------------------------------------------------------------
 * 0?. Footer Styles
 * ---------------------------------------------------------------------------
 */
.footer {
  padding: 65px 0 40px;
  background: var(--main-bg);
  font-size: 16px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.8);
}

.footer a {
  display: block;
}

/* footer title section */
.footer-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding-bottom: 40px;

  /* custom */
  color: var(--white-color);
}

/* footer nav section style */
.footer-nav ul {
  padding: 49px 0 50px;
}

.footer-nav li {
  padding: 0 22px;
  display: inline-block;
}

.footer-nav li:first-child {
  padding-top: 0;
}

.footer-nav li:last-child {
  padding-bottom: 0;
}

.footer-nav a {
  /* color: rgba(255, 255, 255, 0.8); */
  color: var(--main-color);
  transition: 0.5s;
  padding: 0 4px;
  position: relative;
}

.footer-nav a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  opacity: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
  background: var(--white-color);
}

.footer-nav a:hover {
  text-decoration: none;
  color: var(--white-color);
}

.footer-nav a:hover:before {
  opacity: 1;
  width: 100%;
  left: 0;
}

.footer-about p,
.contact-address p,
.footer-address p {
  color: var(--main-color);
}

.contact-address a {
  display: inline-block;
  /* color: rgba(255, 255, 255, 0.8); */
  color: var(--main-color);
  transition: 0.5s;
}

.contact-address a:hover {
  color: var(--white-color);
}

/* Footer Media Link */
.footer-media-link li {
  display: inline-block;
}

.footer-media-link li:last-child {
  padding-bottom: 0;
}

.footer-media-link a {
  font-size: 28px;
  line-height: 1;
  padding: 10px;
  color: var(--main-color);
  transition: 0.5s;
  display: inline-block;
}

.footer-media-link a:hover {
  color: var(--white-color);
}

.copyright {
  border-top: 1px solid var(--main-color);
  padding-top: 35px;
  font-size: 12px;
  line-height: 18px;
}

.copyright a {
  color: var(--white-color);
  display: inline-block;
}

/**
 * ---------------------------------------------------------------------------
 * 0?. Footer Styles End
 * ---------------------------------------------------------------------------
 */

/* Home page style
====================== */
/**********************************************
 Case Study Style
***********************************************/
.case-study {
  padding-top: 80px;
  background: var(--white-color);
}

.case-study .content h4 {
  padding-bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: bold;
}

.case-study .content p {
  font-size: 16px;
  color: #333333;
}

.case-study .content .btn {
  margin-top: 30px;
}

/* Case Study Title */
.box-subtitle,
.box-title {
  margin: 0;
}

.box-subtitle {
  letter-spacing: 2px;
  padding: 17px 0 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* Case Study Description Style */
.case-study-content {
  padding-top: 58px;
  padding-bottom: 90px;
}

.case-study-content:nth-child(odd) {
  padding-top: 100px;
  padding-bottom: 180px;
  background: #121212;
}

/**
 * ---------------------------------------------------------------------------
 * . Header Styles
 * ---------------------------------------------------------------------------
 */
.hero-area {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text,
.hero-description {
  color: var(--white-color);
}

.hero-slider .prevArrow {
  left: -100px;
}

.hero-slider .nextArrow {
  right: -100px;
}

.hero-slider:hover .prevArrow {
  left: 0;
}

.hero-slider:hover .nextArrow {
  right: 0;
}

/* slick style */
.slick-slide {
  outline: 0;
}

.slick-slide img {
  display: unset;
}

/* slick arrows */
.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;
  height: 70px;
  width: 70px;
  background: var(--main-color);
  /* color: var(--white-color); */
  color: var(--secondary-color);
  border: 0;
  line-height: 70px;
  font-size: 35px;
  transition: 0.2s ease;
}

.slick-arrow::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: transparent;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s ease;
}

.slick-arrow::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background: var(--white-color); */
  background: var(--secondary-color);
  transition: 0.2s ease;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow:hover {
  background: var(--white-color);
}

.prevArrow {
  left: 0px;
}

.prevArrow::before {
  border-left: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
  right: 35px;
}

.prevArrow::after {
  right: 20px;
}

.nextArrow {
  right: 0px;
}

.nextArrow::before {
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  left: 35px;
}

.nextArrow::after {
  left: 20px;
}

/* /slick arrows */
/**********************************************
 Contact Action
***********************************************/
.contact-call-to-action {
  position: relative;
  background: var(--main-bg-light);
  width: 100%;
}

.contact-call-to-action #map {
  height: 410px;
}

.contact-call-to-action .block h2 {
  margin-top: 0;
  font-size: 30px;
}

.contact-call-to-action .block p {
  font-size: 15px;
  width: 40%;
}

.contact-call-to-action .block .btn-main {
  margin-top: 10px;
}

.shadow-block {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background: linear-gradient(
    90deg,
    black 30%,
    rgba(0, 0, 0, 0.51) 47%,
    rgba(192, 192, 192, 0.15) 61%
  );
}

/**********************************************
 Team Style
***********************************************/
.team {
  padding: 65px 0 0;
  background: #0f0f0f;
  overflow-x: hidden;
}

.team-member {
  position: relative;
}

.team-member img {
  width: 100%;
}

/* Team Overlay Style */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 75px 23px;
  opacity: 0;
  background: rgba(231, 190, 130, 0.9);
  transition: 0.4s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover .social-media,
.overlay:hover .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.overlay .content {
  transition: 0.5s;
  overflow: hidden;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.overlay .content h4 {
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
  color: rgba(18, 18, 18, 0.8);
}

.overlay .content span {
  color: rgba(18, 18, 18, 0.8);
}

.overlay .content p {
  color: #121212;
  margin: 0;
  padding: 20px 0;
}

.overlay .social-media {
  transition: 0.8s;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.overlay .social-media li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}

.overlay .social-media li a {
  color: #121212;
  font-size: 22px;
}

/* Join Team Button */
.join-team {
  padding: 65px 0;
}

/* Services page style
====================== */
/**********************************************
 Services Style
***********************************************/
.services {
  background: #f5f5f5;
  padding: 53px 0 9px;
}

.service-item {
  padding: 0 10px 26px;
  margin-bottom: 26px;
  position: relative;
}

.service-item:before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--main-color);
  opacity: 0;
  transition: 0.5s;
}

.service-item:hover:before {
  opacity: 1;
}

.service-item:hover .services-icon {
  background: var(--main-color);
  box-shadow: 0px 0px 0px 14px var(--secondary-color);
}

.service-item:hover .services-icon i {
  color: var(--main-bg-light);
}

.service-item:hover .service-title:before {
  background: #212121;
}

.service-item:hover .service-title,
.service-item:hover .service-description {
  color: #212121;
}

.service-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0 0 15px;
  margin: 0 0 20px;
  position: relative;
  color: var(--white-color);
  letter-spacing: 1px;
  transition: 0.5s;
  color: var(--secondary-color);
}

.service-title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 75px;
  background: var(--main-color);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.services-icon {
  width: 68px;
  height: 68px;
  background: var(--secondary-color);
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 100%;
  text-align: center;
  margin-bottom: 30px;
  transition: 0.5s;
  position: relative;
}

.services-icon i {
  font-size: 35px;
  line-height: 1;
}

.service-description {
  color: #333333;
  line-height: 24px;
  position: relative;
}

/* Portfolio Page and 
   Portfolio Single Page style
================================= */
/**********************************************
 Portfolio Style
***********************************************/
.event {
  padding: 60px 0 65px;
  background: var(--white-color);
}

.portfolio {
  padding: 60px 0 65px;
  background: var(--white-color);
}

.portfolio-thumbnail {
  border-radius: 5px;
  overflow: hidden;
  border: 0;
  padding: 0;
  position: relative;
}

.portfolio-thumbnail img {
  width: 100%;
}

.portfolio-caption {
  background: var(--main-color);
  padding: 20px 23px !important;
}

.portfolio-caption .portfolio-title,
.portfolio-caption .portfolio-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 18px;
}

.portfolio-caption .date {
  font-size: 18px;
  color: var(--secondary-color);
  margin-top: 20px;
}

.portfolio-caption .portfolio-title {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 600;
  margin-bottom: 5px;
}

.portfolio-caption .portfolio-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
}

.protfolio-mixitup-btn {
  margin-bottom: 60px;
}

.protfolio-mixitup-btn .th-btn {
  background: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}

.protfolio-mixitup-btn .th-btn:hover {
  background: var(--main-color);
  color: #212121;
}

.protfolio-mixitup-btn .th-btn:focus {
  outline: none;
  box-shadow: none;
  background: var(--main-color);
  border-color: transparent;
}

.portfolio-thumbnail {
  overflow: hidden;
}

.portfolio-thumbnail:hover .portfolio-caption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.portfolio-thumbnail:hover .date,
.portfolio-thumbnail:hover .portfolio-title,
.portfolio-thumbnail:hover .portfolio-subtitle {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.portfolio-thumbnail:hover .date {
  transition-delay: 0.2s;
}

.portfolio-thumbnail:hover .portfolio-title {
  transition-delay: 0.4s;
}

.portfolio-thumbnail:hover .portfolio-subtitle {
  transition-delay: 0.6s;
}

.portfolio-thumbnail .portfolio-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: 0.3s;
}

.portfolio-thumbnail .date,
.portfolio-thumbnail .portfolio-title,
.portfolio-thumbnail .portfolio-subtitle {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.5s;
}

/**********************************************
 Portfolio Single Style
***********************************************/
.portfolio-single {
  background: var(--white-color);
  padding: 75px 0 0;
}

.portfolio-single img {
  width: 100%;
}

.portfolio-single-description {
  position: relative;
}

.portfolio-single-info {
  background: var(--white-color);
  padding: 65px 50px;
  box-shadow: -50px 0 0 0 var(--main-color);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio-single-info .date {
  color: #111111;
}

.protfolio-list {
  padding-bottom: 25px;
}

.protfolio-list p {
  color: #111111;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
}

.protfolio-list .colon {
  display: inline-block;
  padding-left: 18px;
  padding-right: 50px;
}

.protfolio-list .web-addres {
  color: #111111;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  transition: 0.5s;
}

.protfolio-list .web-addres:hover {
  color: var(--main-color);
}

.portfolio-single-title {
  color: #111111;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 40px;
  margin-bottom: 0;
  font-size: 18px;
}

.gallery-overlay-icon {
  transition: 0.6s;
}

.gallery-overlay-icon:hover {
  background: var(--main-color);
  color: var(--main-color);
}

/**********************************************
 Gallery Style
***********************************************/
.gallery {
  background: var(--white-color);
  padding: 60px 0;
}

.gallery-description p {
  padding: 0 0 60px;
  margin-bottom: 0;
  color: #111111;
  font-size: 16px;
}

.gallery-img {
  position: relative;
  margin-bottom: 20px;
}

.gallery-img img {
  width: 100%;
}

.gallery-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.gallery-img:hover:before,
.gallery-img:hover .gallery-overlay-icon {
  opacity: 1;
}

/* blog page style
====================== */
/**********************************************
 Blog Style
***********************************************/
.blog {
  background: var(--white-color);
  padding: 60px 0;
}

.blog-list-section {
  position: relative;
  margin-bottom: 60px;
}

.blog-content {
  position: absolute;
  right: 100px;
  top: 50%;
  max-width: 460px;
  padding: 30px;
  background: var(--white-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-content a:hover h3 {
  color: var(--main-color);
}

.blog-title {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  transition: 0.5s;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 28px;
}

.blog-title:hover {
  color: var(--main-color);
}

.blog-description {
  padding-bottom: 20px;
  color: #333333;
}

.blog-slider {
  padding: 0;
}

.blog-slider:before {
  display: none;
}

.meta {
  padding-bottom: 20px;
}

.meta p {
  font-size: 14px;
  margin: 0;
  line-height: 1;
  color: #afafaf;
}

.meta div {
  padding-right: 10px;
  margin-right: 7px;
  border-right: 1px solid #afafaf;
  display: inline-block;
}

.meta div:last-child {
  padding-right: 0;
  margin-right: 0;
  border: 0;
}

.blog-img img {
  max-width: 550px;
}

/* Blog Right side Content */
.blog-content-left .blog-content-area,
.blog-content-left .blog-img {
  float: right;
}

.blog-content-left .blog-content {
  right: auto;
  left: -200px;
}

/* See all post btn */
.see-all-post {
  padding: 15px 0;
}

.see-all-post a {
  color: var(--main-color);
}

.see-all-post a:hover {
  color: var(--main-color);
}

.blog-sidbar .list-group-item.active {
  border-radius: 0;
  background: var(--main-color);
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 18px 0;
  border-bottom: 2px solid var(--main-color);
}

.blog-sidbar .list-group-item {
  background: var(--secondary-color);
  border: 0;
  border-bottom: 1px solid #292929;
  color: var(--white-color);
  margin-top: 1px;
  padding: 20px 10px;
  transition: 0.5s;
}

.blog-sidbar .list-group-item:last-child {
  border-bottom: 0;
}

.blog-sidbar .list-group-item:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.blog-sidbar .list-group-item:focus {
  background: var(--main-color);
  color: var(--secondary-color);
}

/* Single Blog Style
====================== */
.blog-single {
  padding: 70px 0;
}

.blog-single-section-img img {
  width: 100%;
}

/* Blog Single Content Section
============================== */
.blog-single-content {
  padding: 46px 100px 0 0;
}

.blog-content-title,
.blog-inner-heading {
  color: var(--white-color);
}

.blog-content-title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
  display: block;
  color: var(--main-color);
  transition: 0.5s;
}

.blog-content-title:hover,
.blog-content-title:focus {
  color: var(--main-color);
}

.blog-content-description {
  padding-bottom: 20px;
}

.blog-content-description:last-child {
  padding-bottom: 0;
}

.blog-description,
.blog-inner-heading {
  color: #333333;
  font-family: "Roboto", sans-serif;
}

.blog-inner-heading {
  padding-bottom: 16px;
}

/**
 * ---------------------------------------------------------------------------
 * 0?. Responsive Styles
 * ---------------------------------------------------------------------------
 */
/* Select 1px to 992px devices */
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .navigation .navbar-toggle span {
    background: var(--white-color);
  }
  .hero-area h1 {
    font-size: 35px;
  }
  /* Case Study */
  .box-title {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .case-study {
    padding: 20px 0 0;
  }
  .case-study-content {
    padding: 0 0 40px;
    text-align: center;
  }
  .content-description {
    padding: 0 0 30px;
  }
  .content-description .inner-title {
    padding-bottom: 8px;
  }
  .content-description .case-description {
    padding-bottom: 10px;
  }
  .case-study-img {
    position: static;
    padding: 0 15px;
  }
  .case-study-content:nth-child(odd) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .case-study-content:nth-child(odd) .case-study-img {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .th-normal {
    padding: 40% 0;
  }

  /* ==================
	Portfolio Single Page 
	===================== */
  .protfolio-mixitup-btn .th-btn {
    display: block;
    margin: 0 auto 20px;
  }
  .portfolio-single-info {
    position: static;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .portfolio-single-info {
    padding: 20px;
    box-shadow: none;
  }
  .portfolio-single {
    padding: 20px;
  }
  .portfolio-single .title {
    margin-bottom: 30px;
  }
  .gallery-description p {
    padding: 0 15px 60px;
  }
  /* ==================
	blog Page 
	===================== */
  .blog {
    padding: 20px 0;
  }
  .blog-title {
    padding-bottom: 4px;
  }
  .blog-title br {
    display: none;
  }
  .blog-list-section {
    margin-bottom: 30px;
  }
  .see-all-post {
    padding: 20px 0 40px;
  }
  .blog-single .see-all-post {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .comments-title {
    display: block;
    text-align: center;
    padding: 23px 20px;
  }

  /* Footer section */
  footer {
    padding: 20px 0;
    text-align: center;
  }
  footer br {
    display: none;
  }
  footer .widget {
    padding-bottom: 40px;
  }
  footer .contact {
    padding: 0;
  }
  footer .contact,
  footer .address {
    display: inline-block;
    margin: 0 20px;
  }
  footer .footer-top div {
    margin-bottom: 40px;
  }
  .footer-title {
    padding-bottom: 10px;
  }
  .footer-nav li {
    padding: 7px 10px;
    display: inline-block;
  }
  .footer-media-link li {
    padding: 0 15px;
    display: inline-block;
  }
  /* Blog page
	============= */

  .blog-img img {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  .blog-content-left .blog-content-area,
  .blog-content-left .blog-img {
    float: none;
  }
  .blog-content-left .blog-content {
    right: 0;
    left: 0;
  }
  .blog-content {
    right: 0;
    position: static;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    max-width: 100%;
  }
  form .padding-left-15 {
    padding-left: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  /* case study page
	============= */
  /* portfolio 
	============= */
  .portfolio-single-info {
    padding: 20px;
  }
  /* Blog page
	============= */
  .blog-content {
    right: -164px;
  }
  .blog-content-left .blog-content {
    left: -166px;
  }

  .blog-img img {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .protfolio-list .colon {
    display: none;
  }

  /* case study section */
  .case-study-content img {
    float: none;
    width: 100%;
  }
  /* Blog Single Page */
  .blog-single-content {
    padding: 46px 0 0 0;
  }
  .blog-left-img {
    display: block;
    padding-bottom: 20px;
  }
  .blog-left-img:before {
    right: auto;
    left: 50%;
    bottom: -4px;
    top: auto;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
    margin-left: -5px;
  }

  /* Nav Brand Size */
  .nav-brand {
    font-size: 2rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .logo {
    left: 80px;
    top: 25px;
  }
  .logo img {
    width: auto;
  }
  .th-nav-btn {
    right: 80px;
    top: 45px;
  }
  .case-study-content img {
    width: auto;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .blog-left-img {
    display: table-cell;
    padding-bottom: 20px;
  }
  .blog-left-img:before {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .blog-content {
    right: -175px;
  }
}

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=maps/style.css.map */

/* Custom Classes For styling */
.blue-bk {
  background-color: var(--secondary-color);
  background-image: linear-gradient(to top left, #123458, #071626);
}

.copyright-wrapper {
  background-color: var(--main-bg);
  color: var(--main-color);
  padding-bottom: 20px;
  overflow: hidden;
}

/* Made changes to footer title */
